### Data Type Conversion
1. string digit to int and int to string
2. float to int & int to float
3. set/list to tuple
4. tuple/list to set 
5. Value Error
6. Type Error

In [3]:
str_to_int = int('20')
print('str_to_int', str_to_int, type(str_to_int))

int_to_str = str(10)
print('int_to_str', int_to_str, type(int_to_str))

str_to_int 20 <class 'int'>
int_to_str 10 <class 'str'>

In [4]:
float_to_int = int(10.36)
print('float_to_int', float_to_int, type(float_to_int))

int_to_float = float(10)
print('int_to_float', int_to_float, type(int_to_float))

float_to_int 10 <class 'int'>
int_to_float 10.0 <class 'float'>

In [5]:
set_to_tuple = tuple({10,20,20,30})
print('set_to_tuple', set_to_tuple, type(set_to_tuple))

list_to_tuple = set((10,20,10))
print('list_to_tuple ',list_to_tuple, type(list_to_tuple))

set_to_tuple (10, 20, 30) <class 'tuple'>
list_to_tuple  {10, 20} <class 'set'>

In [6]:
tuple_to_set = set((10,20,10))
print('tuple_to_set ', tuple_to_set, type(tuple_to_set))

list_to_set = set([10, 20, 10])
print('list_to_set ', list_to_set, type(list_to_set))

tuple_to_set  {10, 20} <class 'set'>
list_to_set  {10, 20} <class 'set'>

In [7]:
# Value Error
int("4.5")

ValueError: invalid literal for int() with base 10: '4.5'

In [8]:
# Type Error
list_ = [10, [10, 10]]
list_to_set = set(list_)

TypeError: unhashable type: 'list'

*:)*