# Pandas Tasks and Challenges

### Task 1:
    Open file heights_weights_genders using open function and convert the males/Males to 0 and females/Females to 1
    Note: Do not use pandas dataframes...

In [3]:
# how to read content of the file
with open('heights_weights_genders.csv') as file:
    lines = file.readlines()
files[:5]

['"Gender","Height","Weight"\n',
 '"Male",73.847017017515,241.893563180437\n',
 '"Male",68.7819040458903,162.310472521300\n',
 '"Male",74.1101053917849,212.7408555565\n',
 '"Male",71.7309784033377,220.042470303077\n']

In [ ]:
# answer

### Task 2:
    Do the previous using pandas dataframes...

In [ ]:
# answer

### Task 3:
    Check whether mens are heavier or women

In [9]:
# answer

### Task 4:
    Read the tips file and check whether mens pay more tips or females

In [5]:
import pandas as pd
tips_df = pd.read_csv('tips.csv')
tips_df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
# answer

### Task:
    Compute the average tips people give for different meals
    Note:
        Your program should not be static. As an example, if a dataframe with three meals were to be given to your code/function, it should be able to work properly without raising any errors or requirements for extra input..

In [8]:
different_meals = tips_df['time'].unique()
print(different_meals)

['Dinner' 'Lunch']

### Task:
    Which day of the week do smokers like the better?

In [10]:
# answer

### Task:
    compute the sum of tips paid by 4 different groups (Smoker-males, non-smoker-males, smoker-females, and non-smoker-females)
    Note: you are not allowed to use group by and other out of the box functionalities.
    Just: use dataframes and iterate over them ...

In [1]:
# answer

*:)*